

/* ---------- General Styles ---------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Alegreya sans", monospace, "sans serif";
    
    color: rgb(85, 85, 85);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Alegreya";
  }

  p {
    font-size: 1.8rem;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  a:visited,
  a:active,
  a:link {
      color: white;
  }

  body {
    width: 100vw;
    height: 100vh;
  }


  /* ---------- Header ---------- */
 
  header {
    
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100vw;
  
  background: transparent;
  
}

#logo1 {
  width: 138px;
  height: 77px;
  background: transparent;
}

#logo2 {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuItem {
  padding: 10px 20px 0px 10px;

  list-style-type: none;
  font-family: Alegreya;
  font-size: 2rem;
  color: white;
}



/* ---------- Nav Scrolling Active ---------- */

.scroll-active nav {
  background-color: white;
  width: 100vw;
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
  transition: background-color 1s ease;
}

.scroll-active nav a {
  color: rgb(85, 85, 85);
}

.scroll-active #logo1 {
  display: none;
}

.scroll-active #logo2 {
  width: 138px;
  height: 77px;
  background: transparent;
  display: inline-block;
}


/* ---------- Banner ---------- */

.bannerContainer {
    position: relative;
    width: 100vw;
    height: 16rem;
    
    overflow: hidden;
  }

.banner {
    width: 100vw;
    height: auto;
    z-index: 0;
    display: block;
    transform: translateY(-18em);
}

.banner-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    background-size: cover; 
}



/* ---------- Form ---------- */

form {
    display: flex;
    flex-direction: column;
    width: 47rem;
}

label {
    font-family: "Alegreya sans";
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: .6rem;
}

#naam, #email, #bedrijf, #telefoon {
    height: 3rem;
    margin-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset
}

textarea {
    height: 12rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px inset
}

button {
    width: 12rem;
    height: 4rem;
    padding: 0px 2rem 0px 2rem;
    margin-top: 2rem;

    font-family: "Alegreya sans";
    text-transform: uppercase;
    font-size: 1.6rem;
    color: white;
    background-color: #414557;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

form p {
    margin-top: 4rem;
}


/* ---------- Contact info ---------- */

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-container {
    padding: 0px 6rem;
}

.info-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.icoon {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}











/* ---------- Footer ---------- */
  
.socialmedia {
    width: 100vw;
    height: 20rem;
    margin-top: 6rem;
    text-align: center;
    background-color: rgba(120, 170, 115, 0.37);
  }

  footer h3 {
    font-size: 2rem;
    padding-top: 5rem;
  }

  footer ul {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
  }

  footer ul li {
   list-style-type: none;
   margin: 3rem 5px 0px 5px;
  }

  /* ----- footer menu ----- */

  .footer-menu {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
   
  }

  .menu-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .menu-container h3 {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 13rem;
  }

  .menu-container a {
    font-size: 1.8rem;
    text-align: left;
    padding-top: 7px;
    margin-left: 13rem;
  }

  .menu-container a:visited,
  a:active,
  a:link {
    color: rgb(85, 85, 85)
  }

  .menu-container p {
   margin-left: 13rem;
   padding-top: 7px;
  }

  /* ----- Copyright ----- */

  .copyright {
   padding-top: 3rem;
  }

  .copyright p {
    padding: 2rem;
  }

  .copyright span {
    font-weight: bold;
  }