
/*---------- Banner ----------*/
.banner {
    transform: translateY(-35rem);
}


/*---------- Duurzame bloemist ----------*/

.duurzameBloemist {
    margin: 7rem auto 0px auto;
}

.content-container {
    width: 65vw;
    margin: 0px auto;
}

.groen {
    width: 100vw;
    margin-top: 7rem;
    background-color: rgb(69, 102, 70);
}

.groen h2 {
    padding-top: 7rem;
    color: white;
}

.groen p {
    padding-bottom: 7rem;
    color: white;
}


/*---------- Duurzaamheidsbeleid ----------*/

.duurzaamheidsbeleid .content-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.lichtgroen {
    background-color: rgba(120, 170, 115, 0.25);
}


.flex-container {
    display: flex;
    flex-direction: row;
}

.item-container {
    width: 50vw;
    height: 50rem;
    padding: 5rem;
}

.item-container h3,
.item-container li,
.item-container p {
    text-align: start;
}

li {
    list-style-type: disc;
}

figure {
    width: 50vw;
    overflow: hidden;
}

img {
    width: auto;
}

.boeketten {
    height: 57rem;
}

img .boeketten {
    transform: translateX(-50rem);
}

.verpakking {
    height: 45rem;
}

.facilitair {
    height: 55rem;
}

.hosting-icon {
    display: none;
    width: 30rem;
    margin-top: 2rem;
}



/*---------- Footer ----------*/

.socialmedia {
    background-color: rgba(120, 170, 115, 0.37);
}

.footer-menu,
.copyright {
    background-color: white;
}