
/* ---------- Banner ---------- */
.banner {
  transform: translateY(-45rem);
}


/* ---------- Mijn verhaal ---------- */

.mijnVerhaal {
    width: 75vw;
    margin: 7rem auto 10rem auto;
}
  
  .mijnVerhaal p {
    margin-top: 1rem;
  }

  .mijnVerhaal-container p:last-child {
    margin-top: 3rem;
  }


  /* ---------- Over mij ---------- */

  .overMij {
      display: flex;
      flex-direction: row;
      height: 50rem;
  }

.overMij-foto {
    width: 60vw;
    overflow: hidden;
}

.overMij-foto img {
    width: 60vw;
}

.overMij-text {
    width: 40vw;
    background-color: rgb(106, 110, 129);
    color: white;
}

.overMij-text h2 {
    padding-top: 6rem;
    padding-left: 4rem;
    text-align: start;
}

.overMij-text p {
    line-height: 2.5rem;
    padding: 2rem 4rem 4rem 4rem;
    font-weight: lighter;
    text-align: start;
}


  /* ---------- USP ---------- */

  .USP-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 6rem;
  }

  .USP-content-container {
    width: 30vw;
    padding: 1rem;
    margin: 1rem;
  }

  .USP h3 {
    padding-bottom: 0.5rem;
  }


 /* ---------- Quote ---------- */

 .quote-container {
  background-image: url(../Mijn_verhaal/Images/bloesem-1200x800.png);
  background-size: cover;
  background-position-y: center;
  width: 100vw;
  height: 27rem;
  position: relative;
  z-index: 0;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
  }

.quote-content-container {
 margin: 0px auto;
 z-index: 2;
}

.quote {
  font-family: Alegreya;
  font-size: 3rem;
  color: white;
  padding-top: 8%;
}

.quote-author {
  color: white;
}